In [ ]:
# default_exp recommendation

# Getting recommendation

In [ ]:
# hide
import sys 
sys.path.insert(1,'./../')

In [ ]:
# export 
import pandas as pd
from moviesrec.features_store import movies , ratings , users , genre_and_title_cols , genre_cols
from moviesrec.similarities import dot_product_similarity

## A bit of polishing

### Helpers:

We also built some helpers to handle the movies dataset:

In [ ]:
# hide
# export 
import sys
sys.path.insert(1 , '/Users/pierre-yvesthumerel/Desktop/kaggle/_interview/mle-2020/mle-2020')

In [ ]:
# export 
from content_based_filtering.helpers.movies import get_movie_id, get_movie_name, get_movie_year

In [ ]:
print (get_movie_id(movies, 'Toy Story'))
print (get_movie_id(movies, 'Die Hard'))

print (get_movie_name(movies, 0))
print (get_movie_name(movies, 1000))
print (get_movie_year(movies, 1000))

### Finding similar movies:
Here is a method giving us the movie the most similar to another movie:

In [ ]:
similarity = dot_product_similarity(movies[genre_cols])

In [ ]:
# export 
def get_most_similar(similarity, movie_name, year=None, top=10):
    index_movie = get_movie_id(movies, movie_name, year)
    best = similarity[index_movie].argsort()[::-1]
    return [(ind, get_movie_name(movies, ind), similarity[index_movie, ind]) for ind in best[:top] if ind != index_movie]

In [ ]:
get_most_similar(similarity, 'Toy Story')

[(667, 'Space Jam', 3.0),
 (3685, 'Adventures of Rocky and Bullwinkle, The', 3.0),
 (3682, 'Chicken Run', 3.0),
 (2009, 'Jungle Book, The', 3.0),
 (2011, 'Lady and the Tramp', 3.0),
 (2012, 'Little Mermaid, The', 3.0),
 (2033, 'Steamboat Willie', 3.0),
 (2072, 'American Tail, An', 3.0),
 (2073, 'American Tail: Fievel Goes West, An', 3.0)]

In [ ]:
get_most_similar(similarity, 'Psycho', 1960)

[(3593, "Puppet Master III: Toulon's Revenge", 2.0),
 (2923, 'Rawhead Rex', 2.0),
 (1312, 'Believers, The', 2.0),
 (3407, "Jacob's Ladder", 2.0),
 (1957, 'Disturbing Behavior', 2.0),
 (1927, 'Poltergeist III', 2.0),
 (1926, 'Poltergeist II: The Other Side', 2.0),
 (1925, 'Poltergeist', 2.0),
 (732, 'Thinner', 2.0),
 (69, 'From Dusk Till Dawn', 2.0)]

### Giving a recommendation:

And finally, let's find some movies to recommend based on previously liked movies:

In [ ]:
ratings

         user_id  movie_id  rating
0              0      1176       5
1              0       655       3
2              0       902       3
3              0      3339       4
4              0      2286       5
...          ...       ...     ...
1000204     6039      1075       1
1000205     6039      1078       5
1000206     6039       558       5
1000207     6039      1080       4
1000208     6039      1081       4

[1000209 rows x 3 columns]

In [ ]:
# export 
def get_recommendations(user_id , similarity = dot_product_similarity(movies[genre_cols]) ):
    top_movies = ratings[ratings['user_id'] == user_id].sort_values(by='rating', ascending=False).head(3)['movie_id']
    index=['movie_id', 'title', 'similarity']

    most_similars = []
    for top_movie in top_movies:
        most_similars += get_most_similar(similarity, get_movie_name(movies, top_movie), get_movie_year(movies, top_movie))

    return pd.DataFrame(most_similars, columns=index).drop_duplicates().sort_values(by='similarity', ascending=False).head(5)

In [ ]:
get_recommendations(0)

    movie_id                         title  similarity
13       773  Hunchback of Notre Dame, The         3.0
14      1526                      Hercules         3.0
27      2072             American Tail, An         3.0
26      2033              Steamboat Willie         3.0
25      2012           Little Mermaid, The         3.0

In [ ]:
get_recommendations(999)

   movie_id                                           title  similarity
0       166                                    First Knight         2.0
2      1451                          Smilla's Sense of Snow         2.0
3       503                                Perfect World, A         2.0
4      3197  Man Bites Dog (C'est arriv� pr�s de chez vous)         2.0
5      1458                                Devil's Own, The         2.0